<div id="fixedContainer" class="pt-3">
    <h1 style="font-size: 150%; font-weight: bold" class="mb-3"><a href="/">two-bit<br>events</a></h1>

    <p class="text-center mb-4">Let's Get Together</p>

    <a class="btn btn-success mb-2 btn-block" href="/new/event/public"><i class="far fa-calendar-plus"></i> New event</a>
</div>
